/*Reset global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*en tête*/
header {
  position: sticky;
  background-color: rgb(111, 192, 107);
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container_ban h1 {
  display: flex;
}

.accueil {
  display: flex;
  padding-top: 20px;
}

.accueil a {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
